body {
        background-color: lightblue;
}
.image{
    width: 800px;
    height: 400px;  
 margin: auto;
 align-items: center;
 margin-top: 5%;
 margin-bottom: 0px;
 margin-left: 22%;
border:10px solid black ;

}
#mylogo{
    width: 250px; 
    height: 200px;
    float:right;
    margin-top: 0%;
border-radius:50% ;
}

h1{
text-align: center;
color:chocolate;
font-family: 'Courier New', Courier, monospace;
margin: top 7px; 
font-size: bold;
}
p{
text-align: center;
color:navy;
font-family: 'Courier New', Courier, monospace;
}
    
.topnav {
    overflow: hidden;
    background-color:rgb(204, 125, 22)
  }
  .topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: cursive;
  }
  .topnav a:hover {
    background-color: blue;
    color: white;
  }
  .topnav a.active {
    background-color:yellow;
    color:navy;
  }
  
footer{
    text-align: center;
}
#myimage2{
  margin: auto;
 align-items: center;
 margin-top: 1%;
 margin-bottom: 0px;
 margin-left: 43%;
border:5px solid black  ;
}
.grid-container div{
text-align: center;
padding: 10px ;
font: size 5px 0px ;
}
.grid-container{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap:30px;
  grid-template-rows:300px;
}
.grid-container img{

  border:5px solid black ; 
}
p{
 font-size: 20px;
 margin-left:0% ;
}
form  {
  width: 40%; 
  padding: 12px;  
  border: 2px solid white; 
  border-radius: 15px; 
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px; 
  resize: vertical ;
  text-align: center;
}
form {
  margin:auto ;
  margin-right:40% ;
  background-color: rgb(90, 109, 47);
  color: white;
  padding: 14px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color:peru;
}


#footer{
  margin-top:10%;
}

@media screen and (max-width: 800px) {
  .image{
    display:block;
    width:100%;
    padding-bottom: 30px;
   flex-direction: column; 
   position:absolute;
   top: 0;
  
  }